.homecard-container {
  /* border: solid; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.homecard-container:hover .animate-homecard-image {
  transform: scale(1.1) translateY(-15px);
}

.homecard-content {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* width: 100%; */
  bottom: 20px;
  left: 20px;
  transition: 0.3s;
  max-width: calc(100% - 40px);
}

.homecard-title-container {
  padding: 10px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  display: table;
}

.homecard-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: 0.3s;
  display: block;
  /* position: absolute; */
}

.homecard-description {
  color: white;
}

.homecard-title {
  /* font-size: var(--font-lg); */
  font-weight: 1000;
  color: white;
  /* margin-right: 10px; */
  overflow-wrap: break-word;
  display: inline-block;
}

.homecard-tag {
  display: table;
  backdrop-filter: blur(10px);
  /* font-size: var(--font-sm); */
  padding: 0 10px;
  font-weight: 1000;
  transition: 0.3s;
}
