.homecard-container {
  /* border: solid; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
  cursor: pointer;
  width: 100%;
}

.homecard-container:hover .animate-homecard-image {
  transform: scale(1.1) translateY(-15px);
}

.homecard-content {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* width: 100%; */
  bottom: 20px;
  left: 20px;
  transition: 0.3s;
  max-width: calc(100% - 40px);
}

.homecard-title-container {
  padding: 10px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  display: table;
}

.homecard-image-container {
  overflow: hidden;
  width: 100%;
  display: inline-block;
}

.homecard-image {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  display: block;
  z-index: -1;
  position: relative;
}

.homecard-title {
  /* font-size: var(--font-lg); */
  font-weight: 1000;
  color: white;
  /* margin-right: 10px; */
  overflow-wrap: break-word;
  display: inline-block;
}

.homecard-tag {
  display: table;
  backdrop-filter: blur(10px);
  /* font-size: var(--font-sm); */
  padding: 0 10px;
  font-weight: 1000;
  transition: 0.3s;
}

.homecard-description-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0px;
  max-height: 100%;
  box-sizing: border-box;
}

.homecard-description {
  text-align: center;
  line-height: 100%;
  margin: 15px 30px 0px;
}
