.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  /* background-color: var(--primary); */
  background-color: #ffe4e1aa;
  backdrop-filter: blur(15px);
  height: 80px;
  border-style: solid;
  border-color: var(--secondary);
  border-width: 0px 0px 2px;
}

.title {
  font-size: var(--font-xxl);
  font-weight: bold;
  display: flex;
  align-items: center;
  color: black;
  height: 100%;
  box-sizing: border-box;
}

.pathname {
  /* font-family: 'Karmuns Handwriting Regular'; */
  /* font-style: italic; */
  color: var(--secondary);
  margin-left: 25px;
  vertical-align: middle;
}
