.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  background-color: #ffe4e1;
  height: 80px;
  border-style: solid;
  border-color: #85144b;
  border-width: 0px 0px 2px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.pathname {
  /* font-family: 'Karmuns Handwriting Regular'; */
  /* font-style: italic; */
  color: #85144b;
  margin-left: 25px;
}