:root {
  --primary: #ffe4e1;
  --secondary: #85144b;
  --recipe-primary: #b0e0e6;
  --recipe-secondary: #005060;
  --primary-alpha: #ffe4e180;
  --secondary-alpha: #85144b80;
  --recipe-primary-alpha: #b0e0e680;
  --recipe-secondary-alpha: #00506080;
  --font-xs: 15px;
  --font-sm: 20px;
  --font-md: 25px;
  --font-lg: 30px;
  --font-xl: 35px;
  --font-xxl: 40px;
}

body {
  margin: 0;
  font-family: 'Indie Flower';
  background-color: var(--primary);
}
